* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f8;
  color: #515151;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
}

/* надо как-то назвать по html5 */
.menu {
  position: fixed;
  width: 600px;
  height: 100vh;
  left: 0;
  /* top: 100px; */
  /* margin-top: 100px; */
  box-shadow: 1px 1px 10px 2px #d3d7da;
  background-color: white;
  border: 1px solid #d3d7da;
  padding: 0;
  /* padding: 0px 0px 20px 30px; */

  /* overflow-y: scroll; */
}

.boxes {
  padding: .5rem .5rem .5rem calc(600px + .5rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  min-height: 100vh;
}

.box {
  box-shadow: 1px 1px 10px 2px #d3d7da;
  background: white;
  border: 1px solid #d3d7da;
  border-radius: 20px;
  min-height: 960px;
}

.rss-logo {
  max-width: 40px;
  margin-right: 10px;
  

}

.menu-content {
  width: 100%;
  height: calc(100vh - 60px);
  /* height: 100vh; */
  margin-top: 8px;
  padding: 0px 16px 10px 30px;
  overflow-y: scroll;
  /* background-color: red; */

}

.menu-content.show {
  /* opacity: 0; */
  animation: show-logo .3s ease-in-out forwards;
  
  /* background-color: red; */
}

.menu-title {
  font-size: x-large;
  display: flex;
  align-items: center;
  /* padding: 0 30px 0 30px; */

}



.box > header {
  margin: 14px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #515151;
  /* background-color: red; */
}

.menu > header {
  /* position: absolute; */
  /* width: 540px; */
  /* width: 100%; */
  /* height: 100vh; */
  /* left: 32px; */
  /* top: 0; */
  margin: 0px 28px 0px 28px;
  padding: 10px 0px 3px 0px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid #515151;
  /* background-color: black; */
}

.box-title {
  font-size: large;
  /* background-color: green; */
  display: flex;
  align-items: center;
  
}

a {
  text-decoration: none;
}

.archive {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* list-style: none; */
  align-items: end;
  /* background-color: yellow; */

  /* opacity: 1; */
}

.archive > li {
  opacity: 1;
}


/* .archive { */
  /* text-decoration: none; */
  /* position: relative; */
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 0 30px 0 30px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
/* }  */

/* .title { */
  /* list-style: none; */
  /* height: 0;
  opacity: 0; */
  /* display: flex; */
  /* align-items: top; */
/* } */

.archive-logo {
  max-height: 26px;
  /* justify-content: center; */
}

.archive-title {
  color:#515151;
  padding-bottom: 2px;
  padding-right: 2px;
  font-size: small;
  /* justify-content: center; */
}

.auto-update {
  color:#515151;
  /* padding-bottom: 2px; */
  /* padding-right: 2px; */
  font-size: .7rem;

}


/* .title {
  margin: 14px 20px 0px 20px;
  padding: 0;
} */



/* hr {
  margin: 5px 20px 5px 20px;
  border: none;
  border-top: 1px solid;
} */




/* h2 {
  margin-top: 6px;
} */

h2, h3 {
  margin-top: 6px;
  /* padding-bottom: 20px; */
}

p {
  margin-top: 10px;
  /* padding-bottom: 20px; */
}



.menu-todo-logo {
  width: 536px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px #818181;
}





.todo-text {
  position: absolute;
  left: 90px;
  text-overflow: ellipsis;
  margin-right: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 36px;
  color: #515151;
}

.todo-text:visited {
  color: #a3a3a3;
}

.pointer {
  /* max-width: 40px; */
  margin-right: 16px;
}

/* .push {
  padding-bottom: 10px;
} */

.push {
  /* margin: 14px 20px 5px 20px; */
  display: flex;
  align-items: end;
  /* padding-top 20px; */
  /* justify-content: space-between; */
  /* border-bottom: 1px solid #515151; */
   /* display: flex; */
  /* flex-direction: row; */




















}

.todo {
  /* text-decoration: none; */
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo:hover {
  background-color: #c5d9f1;
  transition: .2s;
}


.todo-logo {
  width: 56px;
  height: 42px;
  position: absolute;
  top: 5px;
  left: 20px;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  /* border-color: #818181; */
  box-shadow: 1px 1px 5px 1px #818181;
  /* border: .1px solid #818181; */
  /* background-color: white; */
}

/* .logo-spinner-box {
  position: absolute;
  width: 70px;
  height: 46px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
/* } */

.logo {
  position: absolute;
  width: 70px;
  height: 46px;
  z-index: 2;
  left: -7px;
  top: -1px;
  animation: show-logo 1s ease-in-out forwards;
  cursor: pointer;
}

.box-spinner {
  /* position: relative; */
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.spinner {
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.todo:hover > .todo-logo > .logo {
  /* top: 6px;
  left: 11px; */
  transform: scale(.84, 1);
  transition: all .2s;
}

.todo:hover > .todo-logo.img-include > .spinner {
  /* top: 8px; */
  /* left: 13px; */
  transform: scale(0.65, .75);
  transition: .2s;
} 

.todo:hover > .todo-logo.img-include {
  /* background-color: white; */
  transform: translate(-18px, -4px) scale(1.7, 1.42);
  /* transform: translate(-40px, -15px); */
  /* width: 96px; */
  /* height: 60px; */
  transition: all .2s;
} 



  /* a:hover > .todo-logo { */
    /* background-color: white; */
    /* transform: translate(-42px, -15px) scale(2.2, 1.2); */
    /* padding-left: 0; */
    /* width: 96px; */
    /* width: 100%; */
    /* height: 60px; */
    /* height: 110%;
    width: 20%; */
    /* height: 6rem; */
    /* height: auto; */
    /* transition: .2s; */
    /* background-size: 100%; */
    /* transition: transform 1s linear; */
    /* transition: width height 1s linear; */
  /* } */

  /* a:hover > .todo-logo-spinner { */
    /* background-color: white; */
    /* transform: translate(-40px, -15px); */
    /* width: 96px; */
    /* height: 60px;; */
    /* transition: .2s; */
  /* } */

  .todo:hover > .todo-text {
    transition: .2s;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 60px;
  }











  
  /* z-index: 2; */
/* } */
/* .todo-logo-spinner {
  top: 50px;
  left: 50px;
  z-index: -1;
} */




/* .spinner { */
  /* position: absolute; */
  /* left: 20px; */
  
  
  /* margin: 0, 0, 20px, 0; */
  /* position: relative; */
  /* left: 120px; */

/* } */

/* a:hover > .todo-logo { */
  /* transform: translate(-18px, -6px) scale(1.7, 1.5); */
  /* background-color: white; */
  /* transform: translate(-40px, -15px); */
  /* width: 96px; */
  /* height: 60px;; */
  /* transition: .2s; */
/* }  */

/* a:hover > .todo-logo { */
  /* background-color: white; */
  /* transform: translate(-40px, -15px); */
  /* width: 96px; */
  /* height: 60px;; */
  /* transition: .2s; */
/* } */

.horo {
  box-shadow: 1px 1px 10px 2px #d3d7da;
  width: 300px;
  height: 88px;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 40px;
}

/* --------------------------------- Анимация элементов списка -------------------------------- */
li {
  list-style: none;
  opacity: 0;
}

li.initial {
  animation: fade-in 4s ease-in-out forwards;
  animation-delay: var(--render-delay, 0s);
}

li.add {
  animation: height-up 0.7s ease-out forwards, fade-in 4s ease-in-out forwards;
  animation-delay: 3.5s, 4.2s;
}

li.hide {
  animation: move-out 3.5s ease-in-out forwards, height-down 0.7s ease-out forwards;
  animation-delay: 0s, 3.5s;
}

@keyframes show-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes height-up {
  from {
    height: 0;
  }
  to {
    height: 56px;
  }
}

@keyframes height-down {
  from {
    height: 56px;
  }
  to {
    height: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    height: 56px;
    background-color: #c5d9f1;
    box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 56px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
    height: 56px;
    background-color: #c5d9f1;
    box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 56px;
  }
}


@keyframes move-out {
  0% {
    opacity: 1;
    height: 56px;
  }
  50% {
    /* opacity: 1; */
    transform: translateY(-100px) scale(1, 1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 56px;
    transform: translateY(var(--remove-hight, 0)) translateX(var(--remove-width, 0)) scale(0.1, 1);
  }
}

/* ----------------------------------- Анимация папки архива ---------------------------------- */
img.run {
  /* transform: translateY(-10px) scale(1, 1); */

  animation: archive-logo 1.5s ease-in-out forwards;
  animation-delay: 2.7s;
  /* animation: fade-in 4s ease-in-out forwards;
  animation-delay: var(--render-delay, 0s); */
}

@keyframes archive-logo {
  20% {
    transform: scale(1.5, 1.5) translateY(-4px);
  }
  30% {
    transform: scale(1.5, 1.5) translateY(-4px) translateX(-6px) skew(15deg);
  }
  40% {
    transform: translateY(-4px) scale(1.5, 1.5) skew(-15deg);
  }
  50% {
    transform: translateY(-4px) scale(1.5, 1.5) translateX(-6px) skew(15deg);
  }
  60% {
    transform: translateY(-4px) scale(1.5, 1.5) skew(-15deg);
  }
  70% {
    transform: translateY(-4px) scale(1.5, 1.5) translateX(-3px) skew(0deg);
  }
}
/* ------------------------------ Работа с мобильными устройствами ---------------------------- */
/* @media screen { */
  /* a:hover > .todo-logo { */
    /* transform: translate(-18px, -6px) scale(1.7, 1.5); */
    /* background-color: white; */
    /* transform: translate(0, 0); */
    /* width: 56px; */
    /* height: 42px;; */
    /* transition: .2s; */
  /* }  */
/* } */

@media screen and (max-width: 1440px) {
  .boxes {
    padding-right: 0.5rem;
    padding-left: calc(400px + 0.5rem);
    gap: 0.5rem;
  }
  .menu {
    width: 400px;
    /* box-shadow: 0; */
    /* box-shadow: 0 0 0 0 #d3d7da; */
  }
  .menu-todo-logo {
    width: 338px;
    height: auto;
  }
  
  
}

@media screen and (max-width: 900px) {
  .menu {
    width: 0;
    /* box-shadow: 0; */
    /* box-shadow: 0 0 0 0 #d3d7da; */
    /* box-shadow: 0 0 0 0 #d3d7da; */
    padding: 0;
    margin: 0;
    border: 0;
    /* overflow-y: none; */
    /* overflow-x: hidden; /* отключает горизонтальный скролл */
  /* overflow-y: hidden; */
  }

  .boxes {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }

  .horo {
    opacity: 0;
  }

  .todo-logo {
    left: 10px;
    /* margin-right: 20px; */
    /* border-radius: 0; */
    /* box-shadow: 1px 1px 5px 1px #818181; */
  }

  .todo-text {
    /* position: absolute; */
    left: 74px;
    /* text-overflow: ellipsis; */
    margin-right: 10px;
    /* white-space: nowrap; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    /* max-height: 36px; */
    /* max-width: 20; */
    /* color: #515151; */
  }

  .todo:hover > .todo-logo {
    /* background-color: white; */
    transform: translate(0, 0);
    width: 56px;
    height: 42px;;
    /* transition: .2s; */
  }

  .todo:hover > .todo-text {
    /* transition: .2s; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    -webkit-line-clamp: 2;
    /* -webkit-box-orient: vertical; */
    /* overflow: hidden; */
    /* max-height: 60px; */
  }
}





  /* a:hover>.todotext { */
    /* transition: .2s; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical; */
    /* overflow: hidden;
    max-height: 60px; */
    /* transform: translate(16px, 0px) scale(.95); */
  /* } */
/* } */